
.i-carbon-logo-stackoverflow {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' display='inline-block' vertical-align='middle' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M23.1,25.9v-6.3h2.2v8.4h-19v-8.4h2.2v6.3C8.4,25.9,23.1,25.9,23.1,25.9z M10.5,19l10.4,2.2l0.4-2.2l-10.4-2.2L10.5,19z M12,14.1l9.6,4.5l1-1.9L13,12.1C12.8,12.1,12,14.1,12,14.1z M14.6,9.3l8.2,6.7l1.3-1.6L16,7.8L14.6,9.3z M19.9,4.4l-1.7,1.3l6.3,8.4l1.7-1.3L19.9,4.4z M10.4,23.8h10.5v-2.2H10.4V23.8z'/%3E%3C/svg%3E");
	-webkit-mask: var(--un-icon) no-repeat;
	mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: currentColor;
	color: inherit;
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em
}